<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.iu.start.board.notice.NoticeDAO">
	<sql id="search">
		WHERE
     			 <choose>
     					<when test="kind == 'title'">TITLE</when>
     					<when test="kind == 'writer'">WRITER</when>
     					<otherwise>CONTENTS</otherwise>
     			 </choose>
     	LIKE '%'||#{search}||'%'
	</sql>

	<select id="getList"  resultType="NoticeDTO" parameterType="Pager">
		  SELECT * FROM
      				(
      					SELECT ROWNUM R, N.* FROM
     							 (SELECT * FROM NOTICE 
     							 
									<include refid="search"></include>
     							 
     							  ORDER BY NUM DESC) N
     				)
     	 WHERE R BETWEEN #{startRow} and #{lastRow}                                  
	</select>
	
	<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE TITLE = #{title}
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO NOTICE VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 1)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents} WHERE NUM = #{num};	
	</update>
	
	<delete id="setDelete">
		DELETE NOTICE WHERE NUM = #{num};
	</delete>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(num) FROM NOTICE  
		<include refid="search"></include>
						
	</select>



</mapper>